{:paths ["src"]
 :pablo/config
 {:github      "teknql/pablo"
  :desc        "The secret weapon of build utilities"
  :target      :jar
  :group-id    teknql
  :artifact-id pablo}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}
    lambdaisland/kaocha    {:mvn/version "0.0-541"}}}}
 :deps
 {cli-matic         {:mvn/version "0.3.11"}
  clj-jgit          {:mvn/version "1.0.0-beta3"}
  hiccup            {:mvn/version "1.0.5"}
  badigeon/badigeon {:git/url "https://github.com/EwenG/badigeon.git"
                     :sha     "f4bcca58536f49c10a5ea87b662f33ccf83338ce"
                     :tag     "0.0.10"}
  clj-commons/fs    {:mvn/version "1.5.0"}
  pathetic          {:mvn/version "0.5.1"}}}
